/*------------------- COMMUNITY ------------------*/


.fourth_title {
    padding: 10px 0px 10px 37px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    word-spacing: 4px;
}


.name_next_to_field_community {
    padding: 10px 0px 10px 37px;
}

.message_next_to_field_community {
    padding: 10px 0px 10px 37px;
}

.send_button_community {
    padding: 10px 0px 10px 37px;
}