/*----------------- INDEX -----------------*/


.size {
    object-fit: fill;
    height: 400px;
    width: 400px;
}

.box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.first_title--paragraph {
    padding: 30px 0px 10px 35px;
}

.first_title--paragraph_second {
    padding: 15px 0px 15px 35px;
}

.first_title--paragraph_third {
    padding: 15px 0px 15px 35px;
}

.first_title--ending {
    padding: 15px 0px 15px 35px;
}

.first_title--paragraph_fourth {
    padding: 15px 0px 18px 35px;
}

.first_title--paragraph_fifth {
    padding: 10px 0px 18px 35px;
}
