 /*------------ CONTENT ---------*/

 .second_title {
    text-align: center;
    letter-spacing: 2.7px;
    word-spacing: 4px;
    padding: 10px;
}

.options {
    margin: 5px;
    background-color: #f1b1bf;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
}

.three_options {
    color: #FCF8F4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.second_title--instructions {
    text-align: center;
    padding: 10px 40px 10px 40px;
}