.navbar-brand{
    padding: 5px 0px 5px 0px;
    margin: 4px;
}

.here{
    color: #f1b1bf;
}

.top{
    z-index: 1000;
}

.nav-link:hover{
    animation-name: lines;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    color: #f1b1bf;
}

.logo_pix {
    width: 80px;
    height: 80px;
}



header {
    background-color: #FAF9F8;
    position: sticky;
}

.separation{
    display: flex;
    justify-content: space-around;

}

.box-change{
    border: none;
}